.main-collection {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 0 20px;

    .title-collection {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .description-collection {
        margin-bottom: 20px;
    }

    .collection-toolbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .filter {
            .btn-filter {
                width: 90px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #000;
                border-radius: 7px;
                padding: 5px 10px;
                cursor: pointer;
                .filter-icon {
                    width: 25px;
                    height: 25px;
                }
            }

            .dropdown-filter {
                padding: 20px;
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
                display: flex;
                justify-content: space-between;
                width: 500px;
            }
        }
    }

    .products {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;

        .product-item {
            width: 23%;
            cursor: pointer;

            .product-image {
                height: 341px;
                width: 100%;
                transition: transform .2s;
            }

            .sale-tag {}

            .product-content {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .product-item:hover .product-image {
            opacity: 0.5;
        }
    }

}