@charset "UTF-8";
.breadcrumbs {
  font-size: .85em;
  margin: 0 0 2em;
}

.breadcrumbs ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs ol li {
  display: inline-block;
}

.breadcrumbs ol li a {
  color: #000;
}

.breadcrumbs ol li:not(:last-child):after {
  content: "›\00a0";
  display: inline-block;
  padding-left: .75ch;
  speak: none;
}

.breadcrumbs [aria-current=page] {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

.breadcrumbs [aria-current=page]:focus, .breadcrumbs [aria-current=page]:hover {
  text-decoration: underline;
}
