.color-table {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.color-table .overlay {
  display: flex;
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: .5s;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
}

.color-table .overlay .overlay-content {
  position: relative;
  top: 0;
  width: 100%;
  margin-top: 20px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-table .overlay .overlay-content .color-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.color-table .overlay .overlay-content .color-items .color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.color-table .overlay .overlay-content .color-items .color-item .color {
  width: 30px;
  height: 30px;
  background: var(--color-bg);
  border: 1px solid #c4c4c4;
}

.color-table .overlay .overlay-content .color-items .color-item .title-color {
  text-transform: capitalize;
  text-align: center;
}

.color-table .overlay .closebtn {
  padding: 8px;
  display: block;
  transition: .3s;
  background-color: transparent;
  position: absolute;
  font-size: 30px;
  top: -7px;
  right: 7px;
}

@media (max-width: 640px) {
  .color-table .overlay {
    width: 100%;
  }
}
