.main-collection {
  display: flex;
  flex-direction: column;
}

.main-collection .bg-collection-img {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.main-collection .bg-collection-img .collection-image, .main-collection .bg-collection-img .collection-image img {
  width: 100%;
  height: 100%;
}

.main-collection .bg-collection-img .collection-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 54, 54, 0.5);
}

.main-collection .title-collection {
  font-size: 30px;
  margin-bottom: 20px;
}

.main-collection .title-collection .all-products-count {
  font-size: medium;
  vertical-align: top;
  color: #ff6e00;
  top: 10px;
  left: -5px;
}

.main-collection .description-collection {
  margin-bottom: 20px;
}

.main-collection .collection-toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}

.main-collection .collection-toolbar .toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d1d1;
  align-items: center;
  padding-bottom: 10px;
}

.main-collection .collection-toolbar .toolbar .toolbar-left {
  display: flex;
  align-items: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d2d1d1;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
  transition: .25s;
  margin-right: 30px;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter .filter-icon {
  width: 25px;
  height: 25px;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter:focus, .main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter:hover {
  box-shadow: 0 .5em .5em -.4em #ff6e00;
  transform: translateY(-0.25em);
  border-color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .show-products-in-page .outstanding {
  font-weight: 900;
}

.main-collection .collection-toolbar .toolbar .toolbar-right {
  display: flex;
  gap: 20px;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by {
  display: flex;
  align-items: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by label {
  margin: 0;
  font-weight: 400;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .sort-by {
  display: block;
  margin-left: 10px;
  box-shadow: none;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .sort-by option:checked {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .sort-by option:hover {
  background-color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button {
  border: none;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button .filter-option-inner-inner {
  font-weight: 700;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button:focus {
  outline: none !important;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .dropdown-menu {
  padding: 0;
  background-color: #fff;
  z-index: 1000;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .dropdown-menu .inner.open {
  overflow-y: hidden !important;
  max-height: 100%;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by li a {
  background-color: #fff;
  color: #000;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by li a:focus {
  outline: none;
  color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .active, .main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by li a:hover {
  background-color: #ff6e00;
  color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page {
  display: flex;
  align-items: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page label {
  margin: 0;
  font-weight: 400;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .number-product {
  display: block;
  margin-left: 10px;
  box-shadow: none;
  width: 70px;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .number-product option:checked {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .number-product option:hover {
  background-color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button {
  border: none;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button .filter-option-inner-inner {
  font-weight: 700;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button:focus {
  outline: none !important;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .dropdown-menu {
  padding: 0;
  width: 70px;
  z-index: 1000;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .dropdown-menu .inner {
  overflow: hidden;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page li a {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page li a:focus {
  outline: none;
  color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .active, .main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page li a:hover {
  background-color: #ff6e00;
  color: #fff;
}

.main-collection .collection-toolbar .dropdown-filters {
  display: block;
  z-index: 1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  transition: .5s;
  overflow: hidden;
  max-height: 0;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter {
  display: flex;
  flex-direction: column;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-label {
  font-size: 18px;
  font-weight: 500px;
  margin-bottom: 15px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option {
  font-size: 16px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .vailability ul li {
  display: flex;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .vailability ul li .checkbox {
  accent-color: #ef6e0b;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .vailability ul li .checkbox:checked + .label-checkbox {
  color: #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider {
  width: 100%;
  margin-bottom: 30px;
  height: 10px;
  border-radius: 2px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-connect {
  background: #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-origin .noUi-handle {
  width: 25px;
  height: 25px;
  top: -8px;
  background: #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-origin .noUi-handle:before {
  left: 10px;
  top: 4px;
  background-color: #fff;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-origin .noUi-handle:after {
  left: 14px;
  top: 4px;
  background-color: #fff;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input {
  display: flex;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .btn-submit-price {
  background-color: #ff6e00;
  padding: 5px 20px;
  margin-top: 10px;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  max-width: 100px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .btn-submit-price:hover {
  background-color: #e0690f;
}

.main-collection .collection-toolbar .show {
  max-height: 100vh;
}

.main-collection .current-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -10px;
}

.main-collection .current-page .products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-collection .current-page .products-container .product-item {
  width: var(--width_product);
  position: relative;
  cursor: pointer;
  text-decoration: none;
  box-sizing: inherit;
  padding: 0 10px;
  margin-bottom: 30px;
}

.main-collection .current-page .products-container .product-item .card-image {
  overflow: hidden;
  position: relative;
}

.main-collection .current-page .products-container .product-item .card-image .hover-image {
  margin-inline: 10px;
  overflow: hidden;
  padding-top: 100%;
}

.main-collection .current-page .products-container .product-item .card-image .hover-image .product-image {
  height: 100%;
  width: 100%;
  transition: transform .5s;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #e6e6e6;
  z-index: 10;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart path {
  stroke: #ff6e00;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart:hover path {
  stroke: #fff;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart:hover {
  background-color: #ff6e00;
}

.main-collection .current-page .products-container .product-item .sale-tag {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: #ff6e00;
  padding: 3px 8px;
  color: #fff;
  border-radius: 4px;
}

.main-collection .current-page .products-container .product-item .product-content {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.main-collection .current-page .products-container .product-item .product-content .product-name {
  color: #000;
}

.main-collection .current-page .products-container .product-item .product-content .price {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.main-collection .current-page .products-container .product-item .product-content .price .product-price {
  color: #ff6e00;
  font-weight: 400;
}

.main-collection .current-page .products-container .product-item .product-content .price .compare-at-price {
  padding-left: 9px;
  text-decoration: line-through;
  color: #999;
}

.main-collection .current-page .products-container .product-item .product-content .price .sold-out {
  color: #999;
}

.main-collection .current-page .products-container .card-image:hover .product-image {
  transform: scale(1.05);
}

.main-collection .current-page .paginate {
  margin-top: 100px;
}

.main-collection .current-page .paginate .pagination {
  display: flex;
  align-items: center;
}

.main-collection .current-page .paginate .pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 6px 13px;
}

.main-collection .current-page .paginate .pagination li a {
  color: #000;
  border: none;
  padding: 0;
}

.main-collection .current-page .paginate .pagination li a:hover {
  background-color: transparent;
}

.main-collection .current-page .paginate .pagination li span {
  border: none;
}

.main-collection .current-page .paginate .pagination li .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.main-collection .current-page .paginate .pagination li:hover {
  border: 1px solid #ff6e00;
  border-radius: 4px;
}

.main-collection .current-page .paginate .active {
  color: #fff;
  background-color: #ff6e00;
  border-radius: 4px;
}

.main-collection .current-page #product-list-foot .load .line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
}

.main-collection .current-page #product-list-foot .load .line:last-child {
  animation: loadingC .6s linear .1s infinite;
}

.main-collection .current-page #product-list-foot .load .line:nth-last-child(2) {
  animation: loadingC .6s linear .2s infinite;
}

.main-collection .current-page #product-list-foot .load .line:nth-last-child(3) {
  animation: loadingC .6s linear .3s infinite;
}

@keyframes loadingC {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(15px);
  }
  to {
    transform: translate(0);
  }
}
