.main-collection {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}

.main-collection .image-full-screen {
  position: relative;
}

.main-collection .image-full-screen .bg-collection-img {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.main-collection .image-full-screen .bg-collection-img .collection-image, .main-collection .image-full-screen .bg-collection-img .collection-image img, .main-collection .image-full-screen .bg-collection-img .collection-image svg {
  width: 100%;
  height: 100%;
}

.main-collection .image-full-screen .bg-collection-img .collection-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 54, 54, 0.5);
}

.main-collection .image-full-screen .content-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.main-collection .image-full-screen .content-image .title-image {
  font-size: 30px;
}

.main-collection .image-full-screen .content-image .collection-name {
  text-transform: uppercase;
  font-size: 70px;
}

.main-collection .image-full-screen .content-image .all-products-count {
  font-size: 20px;
  font-style: italic;
}

.main-collection .image-left .left-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-collection .image-left .left-image .collection-image {
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

.main-collection .image-left .left-image .collection-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.main-collection .image-left .title-collection {
  font-size: 30px;
  margin-bottom: 20px;
}

.main-collection .image-left .title-collection .all-products-count {
  font-size: medium;
  vertical-align: top;
  color: #ff6e00;
  top: 10px;
  left: -5px;
}

.main-collection .collection-toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.main-collection .collection-toolbar .toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d1d1;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main-collection .collection-toolbar .toolbar .toolbar-left {
  display: flex;
  align-items: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter {
  width: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d2d1d1;
  border-radius: 7px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #fff;
  transition: .25s;
  margin-right: 30px;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter .filter-icon {
  text-align: center;
  width: 16px;
  height: 16px;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter .filter-icon path {
  transition: .25s;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter .filter-icon:hover path {
  stroke: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter:focus, .main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter:hover {
  box-shadow: 0 .5em .5em -.4em #ff6e00;
  transform: translateY(-0.25em);
  border-color: #ff6e00;
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .btn-filter:hover .filter-icon path {
  stroke: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-left .show-products-in-page .outstanding {
  font-weight: 900;
}

.main-collection .collection-toolbar .toolbar .toolbar-right {
  display: flex;
  gap: 20px;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by {
  display: flex;
  align-items: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by label {
  margin: 0;
  font-weight: 400;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .sort-by {
  display: block;
  margin-left: 10px;
  box-shadow: none;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .sort-by option:checked {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .sort-by option:hover {
  background-color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button {
  border: none;
  background-color: transparent;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button .filter-option-inner-inner {
  font-weight: 700;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button:focus {
  outline: none !important;
  background-color: transparent;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button:focus .filter-option-inner-inner {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button:focus .bs-caret .caret {
  transform: rotate(180deg);
  transition: all .4s ease;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button:not(:focus) .bs-caret .caret {
  transition: all .4s ease;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by button:hover .filter-option-inner-inner {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .dropdown-menu {
  padding: 0;
  background-color: #fff;
  z-index: 1000;
  margin-top: 20px;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .dropdown-menu .inner {
  margin: 5px 0;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .dropdown-menu .inner.open {
  overflow-y: hidden !important;
  max-height: 100%;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by li a {
  background-color: #fff;
  color: #000;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by li a:focus {
  outline: none;
  color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .active, .main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by li a:hover {
  background-color: #ff6e00;
  color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page {
  display: flex;
  align-items: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page label {
  margin: 0;
  font-weight: 400;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .number-product {
  display: block;
  margin-left: 10px;
  box-shadow: none;
  width: 70px;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .number-product option:checked {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .number-product option:hover {
  background-color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button {
  border: none;
  background-color: transparent;
  transition: all .4s ease;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button .filter-option-inner-inner {
  font-weight: 700;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button:focus {
  outline: none !important;
  background-color: transparent;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button:focus .filter-option-inner-inner {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button:focus .bs-caret .caret {
  transform: rotate(180deg);
  transition: all .4s ease;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button:not(:focus) .bs-caret .caret {
  transition: all .4s ease;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page button:hover .filter-option-inner-inner {
  color: #ff6e00;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .dropdown-menu {
  padding: 0;
  width: 70px;
  z-index: 1000;
  margin-top: 20px;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .dropdown-menu .inner {
  margin: 5px 0;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .dropdown-menu .inner.open {
  overflow: hidden;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page li a {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page li a:focus {
  outline: none;
  color: #fff;
}

.main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .active, .main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page li a:hover {
  background-color: #ff6e00;
  color: #fff;
}

.main-collection .collection-toolbar .dropdown-filters {
  display: block;
  z-index: 2;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  transition: .5s;
  overflow: hidden;
  max-height: 0;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 20px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-label {
  font-size: 18px;
  font-weight: 500px;
  margin-bottom: 15px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option {
  font-size: 16px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .vailability ul li {
  display: flex;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .vailability ul li .checkbox {
  accent-color: #ef6e0b;
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .vailability ul li .checkbox:checked + .label-checkbox {
  color: #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider {
  width: 100%;
  margin-bottom: 30px;
  height: 10px;
  border-radius: 2px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-connect {
  background: #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-origin .noUi-handle {
  width: 25px;
  height: 25px;
  top: -8px;
  background: #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-origin .noUi-handle:before {
  left: 10px;
  top: 4px;
  background-color: #fff;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider .noUi-origin .noUi-handle:after {
  left: 14px;
  top: 4px;
  background-color: #fff;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .input-effect {
  border: 1px solid #c4c4c4;
  position: relative;
  width: 45%;
  border-radius: 6px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .input-effect input {
  border: none;
  padding: 5px 10px;
  width: 100%;
  border-radius: 6px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .input-effect input:focus {
  outline: 2px solid #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .input-effect input::-webkit-inner-spin-button, .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .input-effect input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .input-effect span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .input-effect:focus {
  border: 1px solid #ff6e00;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input .from-to {
  border-bottom: 1px solid #c4c4c4;
  width: 10px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .btn-submit-price {
  background-color: #ff6e00;
  padding: 5px 20px;
  margin-top: 10px;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  max-width: 100px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .btn-submit-price:hover {
  background-color: #e0690f;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-product-type {
  max-height: 50vh;
  overflow-y: scroll;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul {
  display: flex;
  flex-wrap: wrap;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li {
  position: relative;
  margin-bottom: 20px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li input {
  visibility: hidden;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #ccc;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
  z-index: 3;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li input:checked + label:after {
  opacity: 1;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li input:checked + label:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .2;
  z-index: 2;
  border-radius: 50%;
  display: block;
  transition: .5s;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li .custom-tooltip {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  visibility: hidden;
  transition: .2s;
  position: absolute;
  bottom: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  white-space: nowrap;
  margin-left: -5px;
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li .custom-tooltip:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.5);
}

.main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-color .filter-option ul li:hover .custom-tooltip {
  visibility: visible;
}

.main-collection .collection-toolbar .show {
  max-height: 1000vh;
}

.main-collection .current-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-collection .current-page .products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-collection .current-page .products-container .product-item {
  width: var(--width_product);
  position: relative;
  cursor: pointer;
  text-decoration: none;
  box-sizing: inherit;
  padding: 0 10px;
  margin-bottom: 30px;
}

.main-collection .current-page .products-container .product-item .card-image {
  overflow: hidden;
  position: relative;
}

.main-collection .current-page .products-container .product-item .card-image .hover-image {
  margin-inline: 10px;
  overflow: hidden;
  padding-top: 100%;
}

.main-collection .current-page .products-container .product-item .card-image .hover-image .product-image {
  height: 100%;
  width: 100%;
  transition: transform .5s;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #e6e6e6;
  z-index: 1;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart path {
  stroke: #ff6e00;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart:hover path {
  stroke: #fff;
}

.main-collection .current-page .products-container .product-item .card-image .btn-cart:hover {
  background-color: #ff6e00;
}

.main-collection .current-page .products-container .product-item .sale-tag {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: #ff6e00;
  padding: 3px 8px;
  color: #fff;
  border-radius: 4px;
}

.main-collection .current-page .products-container .product-item .product-content {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.main-collection .current-page .products-container .product-item .product-content .product-name {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}

.main-collection .current-page .products-container .product-item .product-content .color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.main-collection .current-page .products-container .product-item .product-content .price {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.main-collection .current-page .products-container .product-item .product-content .price .product-price {
  color: #ff6e00;
  font-weight: 400;
}

.main-collection .current-page .products-container .product-item .product-content .price .compare-at-price {
  padding-left: 9px;
  text-decoration: line-through;
  color: #999;
}

.main-collection .current-page .products-container .product-item .product-content .price .sold-out {
  color: #999;
}

.main-collection .current-page .products-container .card-image:hover .product-image {
  transform: scale(1.05);
}

.main-collection .current-page .paginate {
  margin-top: 100px;
}

.main-collection .current-page .paginate .pagination {
  display: flex;
  align-items: center;
}

.main-collection .current-page .paginate .pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 6px 13px;
}

.main-collection .current-page .paginate .pagination li a {
  color: #000;
  border: none;
  padding: 0;
}

.main-collection .current-page .paginate .pagination li a:hover {
  background-color: transparent;
}

.main-collection .current-page .paginate .pagination li span {
  border: none;
}

.main-collection .current-page .paginate .pagination li .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.main-collection .current-page .paginate .pagination li:hover {
  border: 1px solid #ff6e00;
  border-radius: 4px;
}

.main-collection .current-page .paginate .active {
  color: #fff;
  background-color: #ff6e00;
  border-radius: 4px;
}

.main-collection .current-page #product-list-foot .load .line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ff6e00;
}

.main-collection .current-page #product-list-foot .load .line:last-child {
  animation: loadingC .6s linear .1s infinite;
}

.main-collection .current-page #product-list-foot .load .line:nth-last-child(2) {
  animation: loadingC .6s linear .2s infinite;
}

.main-collection .current-page #product-list-foot .load .line:nth-last-child(3) {
  animation: loadingC .6s linear .3s infinite;
}

@keyframes loadingC {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(15px);
  }
  to {
    transform: translate(0);
  }
}

@media (max-width: 1280px) {
  .main-collection .image-full-screen .bg-collection-img {
    height: 350px;
  }
}

@media (max-width: 1024px) {
  .main-collection .image-full-screen .bg-collection-img {
    height: 300px;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter {
    flex-direction: column;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter {
    width: 100%;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .noUiSlider, .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input {
    width: 80%;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-product-type ul {
    display: grid;
    grid-template-columns: auto auto;
  }
  .main-collection .current-page .products-container .product-item {
    width: 33.33333%;
  }
}

@media (max-width: 940px) {
  .main-collection .image-full-screen .bg-collection-img {
    height: 250px;
  }
  .main-collection .image-full-screen .content-image .title-image {
    font-size: 20px;
  }
  .main-collection .image-full-screen .content-image .collection-name {
    font-size: 40px;
  }
  .main-collection .image-full-screen .content-image .all-products-count {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .main-collection .image-full-screen .bg-collection-img {
    height: 280px;
  }
  .main-collection .image-full-screen .content-image .title-image {
    font-size: 25px;
  }
  .main-collection .image-full-screen .content-image .collection-name {
    font-size: 50px;
  }
  .main-collection .image-full-screen .content-image .all-products-count {
    font-size: 18px;
  }
  .main-collection .collection-toolbar .toolbar {
    display: block;
  }
  .main-collection .collection-toolbar .toolbar .toolbar-left {
    justify-content: space-between;
  }
  .main-collection .collection-toolbar .toolbar .toolbar-right {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 0;
  }
  .main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .dropdown {
    width: 160px;
  }
  .main-collection .collection-toolbar .toolbar .toolbar-right .product-sort-by .dropdown .dropdown-menu {
    width: 150px;
  }
  .main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .dropdown {
    width: 60px;
  }
  .main-collection .collection-toolbar .toolbar .toolbar-right .items-per-page .dropdown .dropdown-menu {
    width: 50px;
  }
}

@media (max-width: 640px) {
  .main-collection .image-full-screen .bg-collection-img {
    height: 200px;
  }
  .main-collection .image-full-screen .content-image .title-image {
    font-size: 20px;
  }
  .main-collection .image-full-screen .content-image .collection-name {
    font-size: 40px;
  }
  .main-collection .image-full-screen .content-image .all-products-count {
    font-size: 15px;
  }
  .main-collection .image-left .left-image {
    flex-direction: column;
  }
  .main-collection .image-left .left-image .collection-image {
    margin-right: 0;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 10px;
  }
  .main-collection .collection-toolbar .toolbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter {
    flex-direction: column;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price #slider, .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter .filter-option .price .price-input {
    width: 90%;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-product-type {
    height: 30vh;
  }
  .main-collection .collection-toolbar .dropdown-filters .dropdown-filter .filter-product-type ul {
    display: grid;
    grid-template-columns: auto;
  }
  .main-collection .current-page .products-container .product-item {
    width: 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 110, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef6e0b;
}
